@use 'sprucecss/scss/spruce' as *;

.blog-card {
  $this: &;

  @include a11y-card-link('.post-card__link', true);
  display: flex;
  flex-direction: column;
  gap: spacer('m');

  &__thumbnail {
    aspect-ratio: 16 / 9;
    border-radius: config('border-radius-lg', $display);
    object-fit: cover;
  }

  &__body {
    @include layout-stack(s);
  }

  &__meta {
    display: flex;
    flex-wrap: wrap;
    gap: spacer('xs') spacer('m');
    line-height: 1;
  }

  &__tags {
    @include clear-list;
    display: flex;
    flex-wrap: wrap;
    gap: spacer('xs');

    > * + * {
      margin-block-start: 0;
    }
  }

  &__title {
    font-size: font-size('h4');

    a {
      color: color('heading');
      text-decoration: none;
    }
  }
}
