@use 'sprucecss/scss/spruce' as *;

.reference-card {
  $this: &;
  @include a11y-card-link('.reference-card__link', true);
  border-radius: config('border-radius-lg', $display);
  box-shadow: 0 0 2rem color('box-shadow', 'reference');
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__thumbnail {
    inline-size: 100%;
  }

  &__caption {
    @include layout-stack('xxs');
    background-color: color('background', 'reference');
    flex-grow: 1;
    padding: spacer('m');
  }

  &__title {
    color: color('title', 'reference');
  }

  &__link {
    align-items: center;
    color: color('link', 'reference');
    display: flex;
    gap: spacer('xs');
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: color('link', 'reference');
    }

    svg {
      --size: 0.65em;
      block-size: var(--size);
      color: color('icon', 'reference');
      inline-size: var(--size);
    }
  }
}
