@use 'sprucecss/scss/spruce' as *;

.step-card {
  @include layout-stack('s');

  &__number {
    color: color('tertiary');
    font-size: font-size('h2');
    line-height: 1;
  }

  &__title {
    color: hsl(0deg 0% 100%);
    font-size: font-size('h4');
  }

  &__description {
    color: hsl(0deg 0% 95%);
    max-width: 60ch;
  }
}
