@use 'sprucecss/scss/spruce' as *;

.testimonial-card {
  $this: &;

  @include a11y-card-link('.testimonial-card__link', true);
  @include transition;
  background-color: color('background');
  display: flex;
  flex-direction: column;
  gap: spacer('m');
  padding: spacer-clamp('m', 2.5rem);

  @include breakpoint('sm') {
    align-items: center;
    flex-direction: row;
  }

  @include breakpoint('md') {
    align-items: start;
    flex-direction: column;
  }

  &--hover {
    &:hover,
    &:focus {
      background-color: color('background-hover', 'testimonial');

      #{$this}__link,
      #{$this}__description {
        color: color('heading');
      }
    }
  }

  &__caption {
    @include layout-stack('s');
    max-inline-size: 60ch;
  }

  &__title {
    @include transition;
    font-size: responsive-font-size(1.65rem);
  }

  &__link {
    color: color('heading');
    text-decoration: none;
  }

  &__description {
    @include transition;
  }

  &__illustration {
    inline-size: auto;
    margin-inline: auto;
    max-block-size: 12rem;
  }

  &__number {
    color: color('secondary');
    font-size: font-size('h1');
    font-weight: 800;
    line-height: 1;
    margin-block-start: auto;
  }
}
