@use 'sprucecss/scss/spruce' as *;

.cta {
  $this: &;

  &--dark {
    #{$this}__inner {
      background-color: color('background', 'cta');
      border-radius: config('border-radius-xl', $display);
      padding: calc(#{get-css-variable(--section-gap)} / 1.25) calc(#{get-css-variable(--section-gap)} / 2);

      @include breakpoint('md') {
        padding: get-css-variable(--section-gap);
      }
    }

    #{$this}__title {
      color: hsl(0deg 0% 100%);
    }

    p {
      color: hsl(0deg 0% 95%);
    }
  }

  &--border-block {
    border-block: 1px solid color('border');
  }

  &--border-block\:end {
    border-block-end: 1px solid color('border');
  }

  &--border-block\:start {
    border-block-start: 1px solid color('border');
  }

  &__inner {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: spacer('m') spacer('l');
    justify-content: space-between;
    padding-block: get-css-variable(--section-gap);
  }

  &__title {
    font-size: font-size('h1');
    max-inline-size: 25ch;
  }

  &__caption {
    @include layout-stack('s');
  }

  .heading {
    margin-block-end: 0;
  }

  p {
    font-size: 1.2rem;
    max-inline-size: 55ch;
  }
}
