@use 'sprucecss/scss/spruce' as *;

.cta {
  background-color: hsl(15deg 98% 79%);
  padding-block: get-css-variable(--section-gap);

  &__inner {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: spacer('m') spacer('l');
    justify-content: space-between;
  }

  &__title {
    font-size: font-size('h1');
  }

  &__caption {
    @include layout-stack('s');
  }

  .heading {
    margin-block-end: 0;
  }

  * {
    color: color('heading');
  }

  p {
    font-size: 1.2rem;
    max-inline-size: 55ch;
  }
}
