@use 'sprucecss/scss/spruce' as *;

.cta {
  padding-block: calc(#{get-css-variable(--section-gap)} / 1.25);

  &--border-block {
    border-block: 1px solid color('border');
  }

  &--border-block\:end {
    border-block-end: 1px solid color('border');
  }

  &--border-block\:start {
    border-block-start: 1px solid color('border');
  }

  &__inner {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: spacer('m') spacer('l');
    justify-content: space-between;
  }

  &__title {
    font-size: font-size('h1');
  }

  &__caption {
    @include layout-stack('s');
  }

  .heading {
    margin-block-end: 0;
  }

  p {
    font-size: 1.2rem;
    max-inline-size: 55ch;
  }
}
