@use 'sprucecss/scss/spruce' as *;

.site-footer {
  padding-block: get-css-variable(--section-gap);

  &__inner {
    display: grid;
    gap: spacer-clamp('l', 'xl');
    grid-template-columns: minmax(0, 1fr);

    @include breakpoint('xs') {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include breakpoint('md') {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @include breakpoint('lg') {
      grid-template-columns: minmax(0, 1.5fr) repeat(3, minmax(0, 1fr));
    }
  }

  &__logo {
    --dimension: 1.85rem;
    block-size: var(--dimension);
    display: inline-flex;
  }

  &__title {
    font-size: font-size('h4');
    margin-block: 0 spacer('m');
  }

  &__navigation {
    @include clear-list;
    @include layout-stack(spacer('xs'));

    a {
      color: color('text');
      text-decoration: none;

      &:hover,
      &:focus,
      &:active,
      &[aria-current='page'] {
        color: color('primary');
      }

      &[aria-current='page'] {
        font-weight: 700;
      }

      span {
        margin-inline-end: spacer('xs');
      }

      svg {
        --dimension: 0.65em;
        block-size: var(--dimension);
        color: color('border');
        inline-size: var(--dimension);
      }
    }
  }

  &__bottom {
    padding-block-start: spacer('l');

    @include breakpoint('md') {
      align-items: center;
      display: flex;
      gap: spacer('s');
    }
  }

  &__copyright {
    margin-block: 0;
  }
}
