@use 'sprucecss/scss/spruce' as *;

.site-header {
  $this: &;
  @include transition;
  backdrop-filter: saturate(180%) blur(.25rem);
  background-color: color('background', 'header');
  inset: 0 0 auto;
  position: fixed;
  z-index: 25;

  &--sticky {
    @include set-css-variable((
      --header-block-size: 5rem,
    ));

    #{$this}__logo {
      --block-size: 1.15rem;
    }
  }

  &--open {
    background-color: color('background');
  }

  &__inner {
    @include transition;
    align-items: center;
    block-size: get-css-variable(--header-block-size);
    display: flex;
    gap: spacer-clamp('s', 'l');
    justify-content: space-between;
  }

  &__column {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: spacer('xs') spacer-clamp('s', 'l');
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: spacer-clamp('s', 'm');
  }

  &__btn {
    display: none;

    @include breakpoint('xs') {
      display: inline-flex;
    }
  }

  &__logo {
    --block-size: 1.35rem;
    @include transition;
    block-size: var(--block-size);
    display: inline-flex;
    flex-shrink: 0;

    img {
      block-size: 100%;
      inline-size: auto;
    }
  }

  &__email {
    display: none;
    font-family: config('font-family-cursive', $typography);
    text-decoration: none;

    @include breakpoint('md') {
      display: inline-flex;
    }
  }

  &__navigation {
    margin-inline-start: auto;

    @include breakpoint('md') {
      margin-inline-start: 0;
    }

    ul {
      border-block: 1px solid color('border');

      @include breakpoint('md') {
        border-block: none;
      }
    }
  }
}
