@use 'sprucecss/scss/spruce' as *;

.hero {
  $this: &;

  &--two-column {
    #{$this}__caption {

      @include breakpoint('md') {
        align-items: center;
        column-gap: spacer-clamp('m', 'l');
        flex-direction: row;
        justify-content: space-between;
      }
    }

    @include breakpoint('md') {
      #{$this}__description {
        max-inline-size: 30ch;
      }
    }
  }

  &--font-size\:medium {
    #{$this}__title {
      font-size: responsive-font-size(5.15rem, 50, '5vw + 1rem');
    }

    #{$this}__description {
      font-size: responsive-font-size(1.25rem, 30, '3vw + 0.25rem');
    }
  }

  &--font-size\:small {
    #{$this}__title {
      font-size: responsive-font-size(4.5rem, 50, '5vw + 1rem');
    }

    #{$this}__description {
      font-size: responsive-font-size(1.25rem, 30, '3vw + 0.25rem');
    }
  }

  &--center {
    text-align: center;

    #{$this}__description {
      margin-inline: auto;
    }
  }

  &--padding-block\:small {
    #{$this}__inner {
      padding-block: calc(#{get-css-variable(--section-gap)} + #{get-css-variable(--header-block-size)}) #{get-css-variable(--section-gap)};
    }
  }

  &__inner {
    @include layout-stack('l');
    padding-block: calc(#{get-css-variable(--section-gap)} + #{get-css-variable(--header-block-size)}) get-css-variable(--section-gap);

    @include breakpoint('md') {
      padding-block: calc(#{get-css-variable(--section-gap)} + #{get-css-variable(--header-block-size)}) calc(#{get-css-variable(--section-gap)} * 1.5);
    }
  }

  &__caption {
    display: flex;
    flex-direction: column;
    gap: spacer('s');

    > * {
      margin-block: 0;
    }
  }

  &__title {
    font-size: responsive-font-size(6rem, 50, '5vw + 1rem');
    font-weight: 400;
    hyphens: auto;
    overflow-wrap: break-word;
    text-transform: uppercase;

    .highlighted {
      background: linear-gradient(45deg, color('gradient-start', 'hero'), color('gradient-end', 'hero'));
      font-weight: 800;
      -webkit-background-clip: text; /* stylelint-disable-line */
      -webkit-text-fill-color: transparent;

      &::selection {
        -webkit-text-fill-color: hsl(0deg 0% 100%);
      }
    }
  }

  &__description {
    font-size: responsive-font-size(1.5rem, 30, '3vw + 0.25rem');
    max-inline-size: 40ch;
  }

  &__actions {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: spacer('m');
    margin-block-start: spacer('s');
  }
}
