@use 'sprucecss/scss/spruce' as *;

.hero {
  --offset: 6rem;

  &__inner {
    @include layout-stack('l');
    padding-block: calc(#{get-css-variable(--section-gap)} + var(--offset)) calc(#{get-css-variable(--section-gap)} * 1.5);

    @include breakpoint('md') {
      --offset: 8rem;
    }
  }

  &__caption {
    @include layout-stack;
  }

  &__title {
    font-size: responsive-font-size(6.5rem, 40, '5vw + 1rem');
    font-weight: 800;
    text-transform: uppercase;

    .highlighted {
      background: linear-gradient(45deg, hsl(238deg 100% 47%), hsl(194deg 85% 56%));
      -webkit-background-clip: text; /* stylelint-disable-line */
      -webkit-text-fill-color: transparent;

      &::selection {
        -webkit-text-fill-color: hsl(0deg 0% 100%);
      }
    }

    .dot {
      color: hsl(0deg 100% 85%);
    }
  }

  &__description {
    font-size: responsive-font-size(1.5rem, 30, '3vw + 0.25rem');
    max-inline-size: 40ch;
  }

  &__actions {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: spacer('m');
    margin-block-start: 2.5rem;
  }
}
