@use 'sprucecss/scss/spruce' as *;

.hero {
  $this: &;
  --offset: 6rem;

  &--two-column {
    #{$this}__caption {

      @include breakpoint('md') {
        align-items: center;
        column-gap: spacer-clamp('m', 'l');
        flex-direction: row;
        justify-content: space-between;
      }
    }

    @include breakpoint('md') {
      #{$this}__description {
        max-inline-size: 25ch;
      }
    }
  }

  &--smaller {
    #{$this}__title {
      font-size: responsive-font-size(5.5rem, 50, '5vw + 1rem');
    }
  }

  &__inner {
    @include layout-stack('l');
    padding-block: calc(#{get-css-variable(--section-gap)} + var(--offset)) calc(#{get-css-variable(--section-gap)} * 1.5);

    @include breakpoint('md') {
      --offset: 8rem;
    }
  }

  &__caption {
    display: flex;
    flex-direction: column;
    gap: spacer('s');

    > * {
      margin-block: 0;
    }
  }

  &__title {
    font-size: responsive-font-size(6.5rem, 50, '5vw + 1rem');
    font-weight: 800;
    text-transform: uppercase;

    .highlighted {
      background: linear-gradient(45deg, hsl(238deg 100% 47%), hsl(194deg 85% 56%));
      -webkit-background-clip: text; /* stylelint-disable-line */
      -webkit-text-fill-color: transparent;

      &::selection {
        -webkit-text-fill-color: hsl(0deg 0% 100%);
      }
    }
  }

  &__description {
    font-size: responsive-font-size(1.5rem, 30, '3vw + 0.25rem');
    max-inline-size: 40ch;
  }

  &__actions {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: spacer('m');
    margin-block-start: 2.5rem;
  }
}
