@use 'sprucecss/scss/spruce' as *;

.highlighted-text {
  &__inner {
    align-items: start;
    background-color: color('background', 'highlighted');
    border-radius: config('border-radius-xl', $display);
    display: flex;
    flex-direction: column;
    gap: spacer('m') spacer-clamp('l', 'xl');
    padding: calc(#{get-css-variable(--section-gap)} / 1.25) calc(#{get-css-variable(--section-gap)} / 2);

    @include breakpoint('md') {
      align-items: center;
      flex-direction: row;
      padding: get-css-variable(--section-gap);
    }
  }

  p {
    color: hsl(0deg 0% 95%);
    font-size: config('font-size-lead', $typography);
    margin-block: 0;
    max-width: 60ch;

    .highlighted {
      color: color('secondary');
    }
  }

  a {
    color: color('secondary');
    text-decoration: none;
  }
}
