@use 'sprucecss/scss/spruce' as *;

.hero-container {
  //background-color: hsl(40deg 53% 97%);
  //border-block-end: 1px solid color('border');
}

.intro {
  &__inner {
    @include layout-stack('l');
    padding-block: get-css-variable(--section-gap) calc(#{get-css-variable(--section-gap)} * 1.75);
  }

  &__caption {
    @include layout-stack;
  }

  &__title {
    font-size: responsive-font-size(6.5rem, 30, '6vw + 1rem');
    font-weight: 800;
    text-transform: uppercase;

    .highlighted {
      background: linear-gradient(45deg, #0008EF, #2FC1EE);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .dot {
      color: hsl(0deg 100% 85%);
    }
  }

  &__description {
    font-size: responsive-font-size(1.5rem, 30, '3vw + 1rem');
    max-inline-size: 40ch;
  }

  &__actions {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: spacer('m');
    margin-block-start: 2.5rem;
  }
}
