@use 'sprucecss/scss/spruce' as *;

.oss {
  border-block-start: 1px solid color('border');
  padding-block: get-css-variable(--section-gap);
  /*
  background-image: linear-gradient(
    45deg,
    hsl(330deg 100% 98%) 0%,
    hsl(331deg 100% 99%) 11%,
    hsl(332deg 100% 99%) 22%,
    hsl(333deg 100% 99%) 33%,
    hsl(334deg 100% 99%) 44%,
    hsl(335deg 100% 99%) 56%,
    hsl(336deg 100% 99%) 67%,
    hsl(337deg 100% 99%) 78%,
    hsl(339deg 100% 99%) 89%,
    hsl(340deg 100% 99%) 100%
  );
  */

  &__inner {
    @include layout-grid('12rem');
    gap: spacer-clamp('l', 'xl');
  }
}
