@use 'sprucecss/scss/spruce' as *;

.post-content {
  @include layout-stack;

  @include breakpoint('md') {
    font-size: 1.0375rem;
  }

  :is(dd, dl, dl, h1, h2, h3, h4, h5, h6, hr, ul, ol, pre, p, blockquote, form) {
    @include layout-center(null, 40rem);
  }

  p:has(img) {
    max-inline-size: 65rem;
  }

  &__thumbnail {
    margin-block-end: spacer('l');
  }

  * + h2,
  * + h3 {
    margin-block-start: spacer('l');
  }

  h2 + *,
  h3 + *,
  h4 + *,
  h5 + *,
  h6 + * {
    margin-block-start: spacer('s');
  }

  img,
  iframe {
    border-radius: config('border-radius-lg', $display);
  }

  iframe {
    aspect-ratio: 16 / 9;
    margin-block: spacer('l');
  }

  p {
    > img + em {
      display: block;
      margin-block-start: spacer('s');
      text-align: center;
    }
  }
}
