@use 'sprucecss/scss/spruce' as *;

.who-we-are {
  background-color: color('heading');

  &__inner {
    align-items: start;
    border-radius: config('border-radius-lg', $display);
    padding-block: get-css-variable(--section-gap);
    display: flex;
    flex-direction: column;
    gap: spacer('m') spacer-clamp('l', 'xl');

    @include breakpoint('md') {
      align-items: center;
      flex-direction: row;
    }
  }

  p {
    color: hsl(0deg 0% 95%);
    font-size: config('font-size-lead', $typography);
    max-width: 60ch;

    span {
      color: color('secondary');
    }
  }
}
