<div class="l-accordion">
    <div class="container">
        <div class="l-accordion__inner">
            {% if accordion.title %}
                <h2 class="section-title section-title--vertical">
                    {% svgIcon accordion.title.image %}
                    {{ accordion.title.caption | safe }}
                </h2>
            {% endif %}
            <div class="l-accordion__body">
                {% for block in accordion.blocks %}
                    <div class="l-accordion__block">
                        {% if block.title %}
                            <div class="l-accordion__heading">
                                <h3 class="l-accordion__title">{{ block.title }}</h3>
                                <p>{{ block.subtitle }}</p>
                            </div>
                        {% endif %}
                        {% if block.items %}
                            <div class="accordion-list">
                                {% for item in block.items %}
                                    <div class="accordion-card">
                                        <h3 class="accordion-card__title">{{ item.title }}</h3>
                                        <div class="accordion-card__content">
                                            <p>{{ item.description }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
