<form
    method="POST"
    data-netlify="true"
    action="{{ navigation[lang]["email-redirect"] }}"
    name="{{ i18n[lang].form.id }}"
>
    <input type="hidden" name="subject" data-remove-prefix value="{{ i18n[lang].form.subject }}" />
    <div class="form-group-wrapper">
        <div class="form-row--mixed">
            <div class="form-group">
                <label class="form-label" for="your-name">{{ i18n[lang].form.name }}</label>
                <input
                    class="form-control"
                    id="your-name"
                    type="text"
                    name="your-name"
                    required
                />
            </div>
            <div class="form-group">
                <label class="form-label" for="your-email">{{ i18n[lang].form.email }}</label>
                <input
                    class="form-control"
                    id="your-email"
                    type="email"
                    name="your-email"
                    required
                />
            </div>
        </div>
        <div class="form-row--mixed">
            <div class="form-group">
                <label class="form-label" for="your-interest">{{ i18n[lang].form.interest }}</label>
                <select class="form-control" id="your-interest" name="your-interest">
                    {% for item in i18n[lang].form.interestItems %}
                        <option>{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label class="form-label" for="your-budget">{{ i18n[lang].form.budget }}</label>
                <select class="form-control" id="your-budget" name="your-budget">
                    {% for item in i18n[lang].form.budgetItems %}
                        <option>{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label" for="your-message">{{ i18n[lang].form.message }}</label>
            <textarea
                class="form-control"
                id="your-message"
                name="your-message"
                cols="40"
                rows="10"
                required
            ></textarea>
        </div>
        <div class="form-group">
            <label class="form-check">
                <input class="form-check__control" type="checkbox" required value="true" name="privacy-policy"/>
                <span class="form-label form-check__label"><a href="{{ navigation[lang].privacy.url }}" target="_blank">{{ i18n[lang].form.privacy }}</a></span>
            </label>
        </div>
        <div class="form-group--submit">
            <button class="btn btn--primary btn--primary-shadow">
                {% svgIcon './src/img/icon/send.svg', 'btn__icon' %}
                {{ i18n[lang].form.submit }}
            </button>
        </div>
    </div>
</form>
