<div class="cta">
    <div class="container">
      <div class="cta__inner">
        <div class="cta__caption">
            <h2 class="cta__title">Find us on GitHub</h2>
            <p>Did you found a bug? Have an idea or a question? Open an issue to help us develop the project.</p>
        </div>
        <div class="cta__actions">
          <a href="https://github.com/conedevelopment/sprucecss" class="btn btn--dark btn--rounded btn--lg">
            GitHub
          </a>
        </div>
      </div>
    </div>
</div>
