<footer class="site-footer">
    <div class="container">
        <div class="site-footer__inner">
            <div class="site-footer__col">
                <div class="site-footer__logo-wrapper">
                    <a class="site-footer__logo" href="{{ helpers.getHomeUrl(lang) }}">
                        <img
                            src="/img/cone-logo-footer.svg"
                            alt="Cone"
                            width="35"
                            height="35"
                        >
                    </a>
                    {% include "partial/theme-switcher.html" %}
                </div>
                <ul class="site-footer__copyright">
                    {% if navigation[lang].privacy.url %}
                        <li>
                            <a href="{{ navigation[lang].privacy.url }}">{{ navigation[lang].privacy.caption }}</a>
                        </li>
                    {% endif %}
                    <li>© 2019 - {{ global.year() }}</li>
                    <li>{{ i18n[lang].copyright }}</li>
                    <li class="site">
                        {% if lang == 'en' %}
                            <img
                                src="/img/eu.svg"
                                alt="European Union, Hungary"
                                width="35"
                                height="35"
                            >
                        {% endif %}
                        {{ site.name }}
                    </li>
                </p>
            </div>
            {% for block in navigation[lang].footer %}
            <div class="site-footer__col">
                <h3 class="site-footer__title" id="site-footer-title-{{ block.title | slugify }}">
                    {{ block.title }}
                </h3>

                <ul
                    class="site-footer__navigation"
                    aria-labelledby="site-footer-title-{{ block.title | slugify }}"
                >
                    {% for item in block.items %}
                    <li>
                        <a
                            href="{{ item.url }}"
                            {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
                            {% if item.external %}
                                target="_blank"
                                rel="noopener"
                            {% endif %}
                        >
                            <span>{{ item.caption }}</span>
                            {% if item.external %}
                                <span class="sr-only">{{ i18n[lang].open }}</span>
                                {% svgIcon './src/img/icon/arrow-outward.svg', 'btn__icon' %}
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</footer>
