<footer class="site-footer">
    <div class="container container--wide">
        <div class="site-footer__inner">
            <div class="site-footer__col">
                <div style="display: flex; align-items: center; gap: 1rem;">
                    <a class="site-footer__logo" href="/">
                        <img
                            src="/img/cone-logo-footer.svg"
                            alt="Cone"
                            width="72"
                            height="72"
                        />
                    </a>
                    {% include "partial/theme-switcher.html" %}
                </div>
                <p class="site-footer__copyright" style="margin-block-start: 2rem;">
                    © 2019 - {{ global.year() }} Cone<br>All rights are reserved.
                </p>
            </div>
            {% for block in navigation.footer %}
            <div class="site-footer__col">
                <h3 class="site-footer__title" id="site-footer-title-{{ block.title | slugify }}">
                    {{ block.title }}
                </h3>

                <ul
                    class="site-footer__navigation"
                    aria-labelledby="site-footer-title-{{ block.title | slugify }}"
                >
                    {% for item in block.items %}
                    <li>
                        <a
                            href="{{ item.url }}"
                            {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
                            {% if item.external %}
                                target="_blank"
                                rel="noopener"
                            {% endif %}
                        >
                            <span>{{ item.caption }}</span>
                            {% if item.external %}
                                <span class="sr-only">Open in new window</span>
                                {% svgIcon './src/img/icon/arrow-outward.svg', 'btn__icon' %}
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</footer>
