<header class="site-header">
    <div class="container">
        <div class="site-header__inner">
            <div class="site-header__column">
                <a class="site-header__logo" href="{{ helpers.getHomeUrl(lang) }}" aria-label="{{ site.name }}">
                    {% svgIcon './src/img/cone-logo.svg' %}
                </a>
                <nav
                    class="site-navigation site-header__navigation"
                    aria-label="Site"
                >
                    <button
                        class="btn btn--primary btn--primary-shadow btn--icon site-navigation__btn"
                        data-action="navigation-toggle"
                        aria-controls="primary-menu"
                        aria-expanded="false"
                        aria-label="Menu"
                    >
                        {% svgIcon './src/img/icon/menu.svg', 'btn__icon' %}
                    </button>

                    {% if navigation[lang].header.length > 0 %}
                    <ul id="primary-menu" class="navigation-menu">
                        {% for item in navigation[lang].header %}
                        <li class="{{ item.class }}">
                            <a
                                href="{{ item.url }}"
                                {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
                                {% if item.external %}
                                    target="_blank"
                                    rel="noopener"
                                {% endif %}
                            >
                                {{ item.caption }}
                                {% if item.external %}
                                    <span class="sr-only">{{ i18n[lang].open }}</span>
                                    {% svgIcon './src/img/icon/arrow-outward.svg', 'btn__icon' %}
                                {% endif %}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </nav>
            </div>
            <div class="site-header__actions">
                {% if navigation[lang].btn %}
                <a
                    class="btn btn--secondary btn--secondary-shadow site-header__btn"
                    href="{{ navigation[lang].btn.url }}"
                    {% if navigation[lang].btn.external %}
                        target="_blank"
                        rel="noopener"
                    {% endif %}
                >
                    {% svgIcon './src/img/icon/arrow-flat.svg', 'btn__icon' %}
                    {{ navigation[lang].btn.caption }}
                </a>
                {% endif %}
                {% include "partial/lang-switcher.html" %}
            </div>
        </div>
    </div>
</header>
