<div class="hero">
    <div class="container container--wide">
        <div class="hero__inner">
            <div class="hero__caption">
                <h1 class="hero__title"><span class="highlighted">Writing code</span><br><span id="typewriter">as it should be</span></h1>
                <p class="hero__description">We compose websites and web applications from small to large scale in WordPress and Laravel.</p>
                <div class="hero__actions">
                    <a href="#" class="btn btn--lg btn--outline-primary">
                        Laravel Development
                        {% svgIcon './src/img/icon/arrow-flat.svg', 'btn__icon' %}
                    </a>
                    <a href="#" class="btn btn--lg btn--outline-primary">
                        WordPress Development
                        {% svgIcon './src/img/icon/arrow-flat.svg', 'btn__icon' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
