{% if highlightedReference.items %}
    <div class="highlighted-reference {{ highlightedReference.classes }}">
        <div class="container">
            <div class="highlighted-reference__inner">
                {% if highlightedReference.title %}
                    <h2 class="section-title section-title--vertical">
                        {% svgIcon highlightedReference.title.image %}
                        {% if highlightedReference.title.url %}
                            <a href="{{ highlightedReference.title.url }}" class="section-title__link">
                        {% endif %}
                            {{ highlightedReference.title.caption | safe }}
                        {% if highlightedReference.title.url %}
                            </a>
                        {% endif %}
                    </h2>
                {% endif %}
                <div class="highlighted-reference__preview">
                    {% for item in highlightedReference.items %}
                        <div class="reference-card">
                            <img src="{{ item.image }}" alt="" loading="lazy">
                            <div class="reference-card__caption">
                                <h3 class="reference-card__title">
                                    {{ item.title }}
                                </h3>
                                <a href="{{ item.linkUrl }}" class="reference-card__link" target="_blank" rel="noopener">
                                    {{ item.linkCaption }}
                                    {% svgIcon './src/img/icon/arrow-outward.svg', 'btn__icon' %}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
