<div class="intro">
    <div class="container container--wide">
        <div class="intro__inner">
            <div class="intro__caption">
                <h1 class="intro__title"><span class="highlighted">Writing code</span><br>as it should be</h1>
                <p class="intro__description">{{ intro.description }}</p>
                <div class="intro__actions">
                    <a href="#" class="btn btn--lg btn--outline-primary btn--icon">
                        Laravel Development
                        {% svgIcon './src/img/icon/arrow-flat.svg', 'btn__icon' %}
                    </a>
                    <a href="#" class="btn btn--lg btn--outline-primary btn--icon">
                        WordPress Development
                        {% svgIcon './src/img/icon/arrow-flat.svg', 'btn__icon' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
