<div class="l-reference-list">
    <div class="container">
        <div class="l-reference-list__inner">
            {% for reference in references %}
                <div class="reference-text-card">
                    <div class="reference-text-card__caption">
                        <h2 class="reference-text-card__title">{{ reference.title }}</h2>
                        <p>{{ reference.description }}</p>
                        <div class="reference-text-card__tags">
                            {% for tag in reference.tags %}
                                <span class="reference-text-card__tag">{{ tag }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <a href="{{ reference.linkUrl }}" class="reference-text-card__link" target="_blank" rel="noopener">
                        {{ reference.linkCaption }}
                        {% svgIcon './src/img/icon/arrow-outward.svg', 'btn__icon' %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
