<div class="oss">
    <div class="container">
        <h2 class="section-title">
            <img src="/img/title-helper.svg" alt="" width="120" style="border-radius: 0.25rem;">
            Open Source
        </h2>
        <div class="oss__inner">
            <div class="testimonial-card">
                <div class="testimonial-card__caption">
                    <img
                        src="/img/spruce-logo.svg"
                        alt="Spruce CSS"
                        style="height: 2rem; width: auto;"
                    />
                    <h3 class="testimonial-card__title">Spruce CSS</h3>
                    <p>With Laravel, we create robust and scalable web applications that seamlessly integrate powerful features, intuitive user interfaces, and secure backend functionality.</p>
                </div>
            </div>
            <div class="testimonial-card">
                <div class="testimonial-card__caption">
                    <img
                        src="/img/root-logo.svg"
                        alt="Root"
                        style="height: 2rem; width: auto;"
                    />
                    <h3 class="testimonial-card__title">Root</h3>
                    <p>We create visually stunning and highly functional websites built on WordPress or Eleventy.</p>
                </div>
            </div>
        </div>
    </div>
</div>
