<link rel="preload" as="font" type="font/woff2" href="/font/manrope-v14-latin_latin-ext-regular.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/font/manrope-v14-latin_latin-ext-600.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/font/manrope-v14-latin_latin-ext-700.woff2" crossorigin>

<link rel="preload" as="font" type="font/woff2" href="/font/inter-v12-latin_latin-ext-regular.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/font/inter-v12-latin_latin-ext-700.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/font/inter-v12-latin_latin-ext-800.woff2" crossorigin>

<link rel="preload" as="font" type="font/woff2" href="/font/space-mono-v13-latin_latin-ext-regular.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/font/space-mono-v13-latin_latin-ext-700.woff2" crossorigin>
