<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Cone Development",
        "description": "Specializing in WordPress, Laravel, and custom web development services in Hungary, EU.",
        "url": "https://conedevelopment.com/",
        "sameAs": [
            "https://github.com/conedevelopment",
            "https://twitter.com/conedevelopment"
        ],
        "contactPoint": {
            "@type": "ContactPoint",
            "email": "hello@conedevelopment.com",
            "contactType": "customer support"
        },
        "logo": "https://raw.githubusercontent.com/conedevelopment/.github/master/.github/cone-logo-dark-square.svg",
        "slogan": "Creating Functional Websites",
        "serviceArea": [
            {
                "@type": "AdministrativeArea",
                "name": "Hungary",
                "sameAs": "https://en.wikipedia.org/wiki/Hungary"
            },
            {
                "@type": "AdministrativeArea",
                "name": "European Union",
                "sameAs": "https://en.wikipedia.org/wiki/European_Union"
            }
        ],
        "makesOffer": {
            "@type": "Offer",
            "itemOffered": [
                {
                    "@type": "Service",
                    "name": "WordPress Development",
                    "description": "Custom WordPress development services tailored to your needs.",
                    "category": "https://conedevelopment.com/services/website-development/",
                    "serviceType": "http://schema.org/WebDevelopmentService"
                },
                {
                    "@type": "Service",
                    "name": "Laravel Development",
                    "description": "Expert Laravel development for powerful web applications.",
                    "category": "https://conedevelopment.com/services/application-development/",
                    "serviceType": "http://schema.org/WebDevelopmentService"
                }
            ]
        }
    }
</script>
