<div class="testimonial">
    <div class="container container--wide">
        <h2 class="section-title">
            <img src="/img/title-helper.svg" alt="" width="120" style="border-radius: 0.25rem;">
            What We Do
        </h2>
        <div class="testimonial__inner">
            <div class="testimonial-card">
                <img src="/img/retro-coffee.svg" alt="">
                <div class="testimonial-card__caption">
                    <h3 class="testimonial-card__title">Application<br>Development</h3>
                    <p>With Laravel, we create robust and scalable web applications that seamlessly integrate powerful features, intuitive user interfaces, and secure backend functionality.</p>
                </div>
                <div class="testimonial-card__footer">
                    <span>01</span>
                    {% svgIcon './src/img/icon/arrow-flat.svg' %}
                </div>
            </div>
            <div class="testimonial-card">
                <img src="/img/retro-butter-toast.svg" alt="">
                <div class="testimonial-card__caption">
                    <h3 class="testimonial-card__title">Website<br>Development</h3>
                    <p>We create visually stunning and highly functional websites built on WordPress or Eleventy.</p>
                </div>
                <div class="testimonial-card__footer">
                    <span>02</span>
                    {% svgIcon './src/img/icon/arrow-flat.svg' %}
                </div>
            </div>
            <div class="testimonial-card">
                <img src="/img/retro-chocolate-fancy.svg" alt="">
                <div class="testimonial-card__caption">
                    <h3 class="testimonial-card__title">UI<br>Design</h3>
                    <p>Aliqua quis irure enim magna enim deserunt proident consequat non Lorem labore duis commodo sit.</p>
                </div>
                <div class="testimonial-card__footer">
                    <span>03</span>
                    {% svgIcon './src/img/icon/arrow-flat.svg' %}
                </div>
            </div>
        </div>
    </div>
</div>
