<div class="testimonial">
    <div class="container container--wide">
        <h2 class="section-title">
            What We Do
            <img src="/img/title-helper.svg" alt="" width="80">
        </h2>
        <div class="testimonial__inner">
            <div class="testimonial-card" style="background-color: #ffebf1;">
                <h3 class="testimonial-card__title">Application Development</h3>
                <p>Dolore aliqua incididunt laborum sit. Deserunt est enim fugiat aliqua ullamco qui ipsum incididunt.</p>
            </div>
            <div class="testimonial-card" style="background-color: #fffef0;">
                <h3 class="testimonial-card__title">Website Development</h3>
                <p>Dolor id exercitation culpa laborum veniam non non nostrud quis ex quis aliquip incididunt.</p>
            </div>
            <div class="testimonial-card" style="background-color: #fdefff;">
                <h3 class="testimonial-card__title">UI Design</h3>
                <p>Aliqua quis irure enim magna enim deserunt proident consequat non Lorem labore duis commodo sit.</p>
            </div>
        </div>
    </div>
</div>
