<div class="l-what-we-make">
    <div class="container">
        <div class="l-what-we-make__inner">
            <h2 class="section-title section-title--vertical" style="text-align: end;">
                {% svgIcon './src/img/title-helper.svg' %}
                What<br>We<br>Make
            </h2>
            <div class="l-what-we-make__preview">
                <div class="reference-card">
                    <img src="/img/preview/sarvar.jpg" alt="">
                    <div class="reference-card__caption">
                        <h3 class="reference-card__title">
                            Sárvár
                        </h3>
                        <a href="https://sarvar.hu" class="reference-card__link">
                            sarvar.hu
                            {% svgIcon './src/img/icon/arrow-outward.svg', 'btn__icon' %}
                        </a>
                    </div>
                </div>
                <div class="reference-card">
                    <img src="/img/preview/sbr.jpg" alt="">
                    <div class="reference-card__caption">
                        <h3 class="reference-card__title">
                            Smart Budapest Fórum
                        </h3>
                        <a href="https://sarvar.hu" class="reference-card__link">
                            smartbudapestforum.bvk.hu
                            {% svgIcon './src/img/icon/arrow-outward.svg', 'btn__icon' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
