<div class="l-what-we-do">
    <div class="container container--wide">
        <h2 class="section-title">
            <img src="/img/title-helper.svg" alt="" width="120" style="border-radius: 0.25rem;">
            What We Do
        </h2>
        <div class="l-what-we-do__inner">
            <div class="testimonial-card">
                <span class="testimonial-card__number">01</span>
                <img class="testimonial-card__illustration" src="/img/illustrations/retro-coffee.svg" alt="">
                <div class="testimonial-card__caption">
                    <h3 class="testimonial-card__title">Application Development</h3>
                    <p class="testimonial-card__description">With Laravel, we create robust and scalable web applications that seamlessly integrate powerful features, intuitive user interfaces, and secure backend functionality.</p>
                </div>
            </div>
            <div class="testimonial-card">
                <span class="testimonial-card__number">02</span>
                <img class="testimonial-card__illustration" src="/img/illustrations/retro-butter-toast.svg" alt="">
                <div class="testimonial-card__caption">
                    <h3 class="testimonial-card__title">Website Development</h3>
                    <p class="testimonial-card__description">We create visually stunning and highly functional websites built on WordPress or Eleventy.</p>
                </div>
            </div>
            <div class="testimonial-card">
                <span class="testimonial-card__number">03</span>
                <img class="testimonial-card__illustration" src="/img/illustrations/retro-chocolate-fancy.svg" alt="">
                <div class="testimonial-card__caption">
                    <h3 class="testimonial-card__title">UI Design</h3>
                    <p class="testimonial-card__description">Aliqua quis irure enim magna enim deserunt proident consequat non Lorem labore duis commodo sit.</p>
                </div>
            </div>
        </div>
    </div>
</div>
