<div class="l-what-we-make">
    <div class="container">
        <div class="l-what-we-make__inner">
            <h2 class="section-title section-title--vertical">
                {% svgIcon './src/img/title-helper.svg' %}
                What<br>We<br>Make
            </h2>
            <div class="l-what-we-make__preview">
                <div class="browser">
                    <div class="browser__header">
                        <div class="browser__controls">
                            <div class="browser__control" style="background-color:#ff5f56"></div>
                            <div class="browser__control" style="background-color:#ffbd2e"></div>
                            <div class="browser__control" style="background-color:#27c93f"></div>
                        </div>
                    </div>
                    <div class="browser__inner">
                        <img src="/img/preview/sarvar.jpg" alt="">
                    </div>
                </div>
                <div class="browser">
                    <div class="browser__header">
                        <div class="browser__controls">
                            <div class="browser__control" style="background-color:#ff5f56"></div>
                            <div class="browser__control" style="background-color:#ffbd2e"></div>
                            <div class="browser__control" style="background-color:#27c93f"></div>
                        </div>
                    </div>
                    <div class="browser__inner">
                        <img src="/img/preview/sbr.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
