<div class="who-we-are">
    <div class="container">
        <div class="who-we-are__inner">
            <h2 class="section-title section-title--vertical section-title--light">
                {% svgIcon './src/img/title-helper.svg' %}
                Who<br>We<br>Are
            </h2>
            <p>Welcome at <span>Cone</span>, where innovation meets impeccable design. We are a cutting-edge web development studio dedicated to crafting <span>stunning digital experiences</span> that leave a lasting impact. With our team of highly skilled developers and designers, we bring your ideas to life, transforming them into visually captivating and user-friendly websites.</p>
        </div>
    </div>
</div>
