@use 'sprucecss/scss/spruce' as *;

.l-accordion {
  padding-block: get-css-variable(--section-gap);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: spacer('m') spacer-clamp('l', 'xl');
    justify-content: space-between;

    @include breakpoint('sm') {
      flex-direction: row;
    }
  }

  &__heading {
    @include layout-stack('xs');
  }

  &__title {
    font-size: font-size('h2');
  }

  &__block {
    @include layout-stack('m');
  }

  &__body {
    @include layout-stack('l');
    flex: 1;
    max-inline-size: 50rem;
  }
}
