@use 'sprucecss/scss/spruce' as *;

.container {
  --inline-size: #{config('container-inline-size', $layout, false)};
  --gap: #{spacer-clamp('m', 'xl')};

  @include layout-center(
    var(--gap),
    var(--inline-size)
  );
  inline-size: 100%;

  &--wide {
    --inline-size: 100%;
    max-inline-size: 110rem;
  }

  &--narrow {
    --inline-size: 65rem;
  }
}
