@use 'sprucecss/scss/spruce' as *;

.l-highlighted-reference {
  &__inner {
    align-items: end;
    display: flex;
    flex-direction: column;
    gap: spacer('m') spacer-clamp('l', 'xl');

    @include breakpoint('md') {
      align-items: center;
      flex-direction: row;
    }
  }

  &__preview {
    --columns: 1;
    background-color: color('heading');
    background-color: hsl(15deg 98% 79%);
    background-color: hsl(169deg 100% 50%);
    border-radius: config('border-radius-lg', $display);
    display: grid;
    gap: spacer-clamp('m', 'l');
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    inline-size: 100%;
    padding: spacer-clamp('m', 'xl');

    @include breakpoint('md') {
      --columns: 2;
      order: -1;
    }
  }
}
