@use 'sprucecss/scss/spruce' as *;

.l-post {
  padding-block: get-css-variable(--section-gap);

  &--narrow {
    margin-inline: auto;
    max-inline-size: 65rem;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: spacer('l');
  }

  &__list {
    @include layout-stack(spacer-clamp('m', 'xl'));
  }
}
