@use 'sprucecss/scss/spruce' as *;

.l-post-list {
  border-block-end: 1px solid color('border');
  padding-block-end: get-css-variable(--section-gap);

  &__inner {
    --columns: 1;

    @include clear-list;
    display: grid;
    gap: spacer('l');
    grid-template-columns: repeat(var(--columns), minmax(0, 2fr));

    @include breakpoint(sm) { --columns: 2; }
    @include breakpoint(md) { --columns: 3; }

    > * + * {
      margin-block-start: 0;
    }
  }
}
