@use 'sprucecss/scss/spruce' as *;

.l-testimonial {
  $this: &;

  padding-block: get-css-variable(--section-gap);

  &--primary {
    padding-block: 0;

    #{$this}__inner {
      background-color: color('primary');
      border-radius: config('border-radius-xl', $display);
      padding: spacer-clamp('m', 'xl');
    }

    #{$this}__cards {
      border: 0;
    }
  }

  &--secondary {
    padding-block: 0;

    #{$this}__inner {
      background-color: color('secondary');
      border-radius: config('border-radius-xl', $display);
      padding: spacer-clamp('m', 'xl');
    }

    #{$this}__cards {
      border: 0;
    }
  }

  &--tertiary {
    padding-block: 0;

    #{$this}__inner {
      background-color: color('tertiary');
      border-radius: config('border-radius-xl', $display);
      padding: spacer-clamp('m', 'xl');
    }

    #{$this}__cards {
      border: 0;
    }
  }

  &__cards {
    --column: 1;
    border: 1px solid color('border');
    border-radius: config('border-radius-lg', $display);
    display: grid;
    grid-template-columns: repeat(var(--column), minmax(0, 1fr));
    overflow: hidden;

    @include breakpoint('md') {
      --column: 2;

      > * + * {
        border-inline-start: 1px solid color('border');
      }

      > *:nth-child(3n),
      > *:nth-child(4n) {
        border-block-start: 1px solid color('border');
      }
    }
  }
}
