@use 'sprucecss/scss/spruce' as *;

.l-two-column-text-list {
  padding-block: get-css-variable(--section-gap);

  &__inner {
    @include layout-stack('l');
    display: flex;
    flex-direction: column;
    gap: spacer('l');
  }
}
