{% set assetHash = global.random() %}
{% set lang = locale if locale else 'en' %}

<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% include "partial/meta.html" %}
        {% include "partial/preload.html" %}

        {% set css %}
            {% include "../../css/main.css" %}
        {% endset %}

        <style>
            {{ css | safe }}
        </style>

        {% block styles %}{% endblock %}
        <script src="/js/theme-detection.js?{{ assetHash }}"></script>
    </head>
    <body>
        <a class="btn btn--primary skip-link" href="#content">Skip to content</a>
        {% include "partial/header.html" %}

        <main id="content">
            {% block content %}{% endblock %}
        </main>

        {% include "partial/footer.html" %}
        <script src="/js/navigation.js?{{ assetHash }}" async></script>
        <script src="/js/accordion-card.js?{{ assetHash }}" async></script>
        <script src="/js/theme-switcher.js?{{ assetHash }}" async></script>
        <script src="/js/typewriter-effect.min.js?{{ assetHash }}" defer></script>
        <script src="/js/typewriter-init.js?{{ assetHash }}" defer></script>
        <script src="/js/header.js?{{ assetHash }}" async></script>
        <script src="/js/cookie-consent.js?{{ assetHash }}" type="module"></script>
        <script src="/js/scripts.js?{{ assetHash }}" type="module"></script>
    </body>
</html>
