{% extends "layout/base.html" %}

{% block content %}
    {% include "partial/hero.html" %}

    {% set highlighted = {
        'title': {
            'caption': 'What<br>We<br>Make',
            'image': './src/img/title-helper-primary.svg'
        },
        'description': '<p>Welcome at <span>Cone</span>, where innovation meets impeccable design. We are a cutting-edge web development studio dedicated to crafting <span>stunning digital experiences</span> that leave a lasting impact. With our team of highly skilled developers and designers, we bring your ideas to life, transforming them into visually captivating and user-friendly websites.</p>'
    } %}
    {% include "partial/highlighted-text.html" %}

    {% include "partial/what-we-do.html" %}

    {% set reference = {
        'title': {
            'caption': 'What<br>We<br>Make',
            'image': './src/img/title-helper-primary.svg'
        },
        'classes': 'l-highlighted-reference--align-end'
    } %}
    {% include "partial/highlighted-reference.html" %}

    {% set cta = {
        'title': 'Get to Know Us',
        'classes': 'cta--border-block:end',
        'description': 'We are passionate developers who like to give their best, develop, and learn.',
        'btn': {
            'url': '/about/',
            'caption': 'About Us'
        }
    } %}
    {% include "partial/cta.html" %}
{% endblock %}
