{% extends "layout/base.html" %}

{% block content %}
    {% include "partial/hero.html" %}
    {% include "partial/who-we-are.html" %}
    {% include "partial/what-we-do.html" %}

    {% set reference = {
        'title': {
            'caption': 'What<br>We<br>Make',
            'image': './src/img/title-helper-primary.svg'
        },
        'classes': 'l-highlighted-reference--align-end'
    } %}
    {% include "partial/highlighted-reference.html" %}

    {% set cta = {
        'title': 'Get to Know Us',
        'classes': 'cta--border-block:end',
        'description': 'We are passionate developers who like to give their best, develop, and learn.',
        'btn': {
            'url': '/about/',
            'caption': 'About Us'
        }
    } %}
    {% include "partial/cta.html" %}
{% endblock %}
