{% extends "layout/base.html" %}

{% set posts = pagination.items %}

{% if collections[ tag ] %}
    {% set posts = collections[tag].reverse() %}
    {% set hero = {
        title: {
            caption: 'Címke: <span class="highlighted">' + tag + '</span>'
        },
        classes: 'hero--center hero--font-size:small hero--padding-block:small'
    } %}
{% endif %}

{% block content %}
    {% include "partial/hero.html" %}
    <div class="l-post-list">
        <div class="container">
            <ol class="l-post-list__inner">
                {% for post in posts %}
                    {% set tags = post.data.tags %}
                    <li>
                        <div class="blog-card">
                            <img class="blog-card__thumbnail" src="{{ post.data.thumbnail }}" alt="{{ post.data.thumbnailAlt }}" />
                            <div class="blog-card__body">
                                <div class="blog-card__meta">
                                    {% include "partial/tags.html" %}
                                    {% if post.data.date %}
                                        <time datetime="{{ post.data.date | w3Date }}">{{ post.data.date | date(lang) }}</time>
                                    {% endif %}
                                </div>
                                <h2 class="blog-card__title">
                                    <a class="blog-card__link" href="{{ post.url }}">{{ post.data.title }}</a>
                                </h2>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ol>
            {% if not tag %}
                {% include "partial/pagination.html" %}
            {% endif %}
        </div>
    </div>
{% endblock %}
