{% extends "layout/base.html" %}

{% block styles %}
    <link rel="stylesheet" href="/css/blog.css?{{ assetHash }}">
{% endblock %}

{% set posts = pagination.items %}

{% if collections[ tag ] %}
    {% set posts = collections[tag].reverse() %}
    {% set hero = {
        title: {
            caption: '<span class="highlighted">#' + tag + '</span>'
        },
        classes: 'hero--center hero--font-size:small hero--padding-block:small'
    } %}
{% endif %}

{% block content %}
    {% include "partial/hero.html" %}
    <div class="l-post-list">
        <div class="container">
            <ol class="l-post-list__inner">
                {% for post in posts %}
                    {% set tags = post.data.tags %}
                    <li>
                        {% include "partial/blog-card.html" %}
                    </li>
                {% endfor %}
            </ol>
            {% if not tag %}
                {% include "partial/pagination.html" %}
            {% endif %}
        </div>
    </div>
{% endblock %}
