{% extends "layout/base.html" %}

{% block styles %}
    <link rel="stylesheet" href="/css/blog.css?{{ assetHash }}">
{% endblock %}

{% set recommended = helpers.getSiblingContent(collections.blog, page) %}}}

{% block content %}
    <div class="l-post l-post--page">
        <div class="l-post__inner">
            <div class="container">
                {% set showMeta = true %}
                {% include "partial/post-heading.html" %}
            </div>
            <div class="container container--narrow">
                <div class="post-content">
                    {% if thumbnail %}
                        <img class="post-content__thumbnail" src="{{ thumbnail }}" alt="{{ thumbnailAlt }}" loading="lazy" />
                    {% endif %}
                    {{ content | safe }}
                </div>
            </div>
        </div>
    </div>
    {% if recommended | length %}
        <div class="l-post-list l-post-list--more">
            <div class="container">
                <h2 class="section-title section-title--vertical">
                    {% svgIcon "./src/img/title-helper-primary.svg" %}
                    További bejegyzések
                </h2>
                <ol class="l-post-list__inner">
                    {% for post in recommended %}
                        {% set tags = post.data.tags %}
                        <li>
                            {% include "partial/blog-card.html" %}
                        </li>
                    {% endfor %}
                </ol>
                {% if not tag %}
                    {% include "partial/pagination.html" %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
