.blog-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.blog-card__link::before {
  content: "";
  inset: 0;
  position: absolute;
}

.blog-card__thumbnail {
  aspect-ratio: 16/9;
  border-radius: var(--cone-border-radius-lg);
  object-fit: cover;
}
.blog-card__body > * {
  margin-block-end: 0;
  margin-block-start: 0;
}
.blog-card__body > * + * {
  margin-block-start: 1rem;
}
.blog-card__meta {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1.5rem;
  line-height: 1;
}
.blog-card__tags {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  position: relative;
  z-index: 5;
}
.blog-card__tags > * + * {
  margin-block-start: 0;
}
.blog-card__title {
  font-size: clamp(1.0625rem, 2vw + 1rem, 1.25rem);
}
.blog-card__title a {
  color: var(--cone-base-color-heading);
  text-decoration: none;
}

code[class*=language-],
pre[class*=language-] {
  border-radius: var(--cone-border-radius-sm);
  color: var(--cone-prism-color-color);
  font-size: var(--cone-font-size-sm);
  hyphens: none;
  line-height: 1.75;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

@media print {
  code[class*=language-],
  pre[class*=language-] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*=language-] {
  display: grid;
  overflow: auto;
  padding: 1.5rem;
}

pre[class*=language-] code {
  background-color: transparent;
  padding: 0;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: var(--cone-prism-color-background);
  overflow-x: auto;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: var(--cone-prism-color-comment);
  font-style: italic;
}

.token.punctuation {
  color: var(--cone-prism-color-punctuation);
}

.namespace {
  color: var(--cone-prism-color-namespace);
}

.token.deleted {
  color: var(--cone-prism-color-deleted);
  font-style: italic;
}

.token.symbol,
.token.operator,
.token.keyword,
.token.property {
  color: var(--cone-prism-color-namespace);
}

.token.tag {
  color: var(--cone-prism-color-punctuation);
}

.token.boolean {
  color: var(--cone-prism-color-boolean);
}

.token.number {
  color: var(--cone-prism-color-number);
}

.token.constant,
.token.builtin,
.token.string,
.token.url,
.token.entity,
.language-css .token.string,
.style .token.string,
.token.char {
  color: var(--cone-prism-color-constant);
}

.token.selector,
.token.function,
.token.doctype {
  color: var(--cone-prism-color-punctuation);
  font-style: italic;
}

.token.attr-name,
.token.inserted {
  color: var(--cone-prism-color-constant);
  font-style: italic;
}

.token.class-name,
.token.atrule {
  color: var(--cone-prism-color-class-name);
}

.token.regex,
.token.important,
.token.variable {
  color: var(--cone-prism-color-regex);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.pagination a {
  --cone-border-radius: 2rem;
  --cone-border-width: 1px;
  --cone-font-family: Manrope, sans-serif;
  --cone-font-size: 1rem;
  --cone-font-weight: 600;
  --cone-gap: 0.5rem;
  --cone-icon-padding: 0.85em;
  --cone-icon-size: 1em;
  --cone-padding: 0.85em 1.75em;
  --cone-shadow-size: 0.25rem;
  align-items: center;
  border-radius: var(--cone-border-radius);
  border-style: solid;
  border-width: var(--cone-border-width);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--cone-font-family);
  font-size: var(--cone-font-size);
  font-weight: var(--cone-font-weight);
  gap: var(--cone-gap);
  justify-content: center;
  line-height: 1;
  padding: var(--cone-padding);
  text-align: start;
  text-decoration: none;
  transition-duration: var(--cone-duration);
  transition-property: background-color, border-color, box-shadow, color;
  transition-timing-function: var(--cone-timing-function);
}

.pagination a:focus {
  outline-color: transparent;
  outline-style: solid;
}

.pagination a:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.pagination a--sm {
  --cone-font-size: 0.8rem;
  --cone-gap: 0.25rem;
  --cone-icon-padding: 0.5em;
  --cone-icon-size: 0.8rem;
  --cone-padding: 0.5em 0.75em;
  font-size: var(--cone-font-size);
  gap: var(--cone-gap);
  padding: var(--cone-padding);
}

.pagination a--lg {
  --cone-font-size: 1.15rem;
  --cone-gap: 0.5rem;
  --cone-icon-padding: 0.9em;
  --cone-padding: clamp(0.9em, 3vw, 1em) clamp(1.5em, 3vw, 1.75em);
}

.pagination a--block {
  inline-size: 100%;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-block-start: calc(var(--cone-section-gap) / 1.5);
}
.pagination > * + * {
  margin-block-start: 0;
}
.pagination a {
  background-color: var(--cone-btn-color-pagination-background);
  border-color: var(--cone-btn-color-pagination-background);
  color: var(--cone-btn-color-pagination-foreground);
  --cone-padding: 0.85em;
  font-size: var(--cone-font-size-sm);
  min-inline-size: 2.75em;
}
.pagination a:focus-visible {
  outline: 2px solid var(--cone-btn-color-pagination-focus-ring);
  outline-offset: 2px;
}
.pagination a:hover {
  background-color: var(--cone-btn-color-pagination-background-hover);
  border-color: var(--cone-btn-color-pagination-background-hover);
  color: var(--cone-btn-color-pagination-foreground-hover);
}
.pagination a[aria-current=page] {
  background: var(--cone-btn-color-pagination-background-hover);
  border-color: var(--cone-btn-color-pagination-background-hover);
  color: var(--cone-btn-color-pagination-foreground-hover);
}
.pagination .prev,
.pagination .next {
  --cone-padding: 0.85em 1.25em;
}
