@use 'sprucecss/scss/spruce' as *;

.browser {
  background-color: color('background');
  border-radius: config('border-radius-sm', $display);
  box-shadow: 0 0 3rem hsl(0deg 0% 0% / 10%);
  margin-inline: auto;
  overflow: hidden;

  &__header {
    align-items: center;
    border-block-end: 1px solid color('border');
    display: flex;
    gap: 1rem;
    padding: 0.65rem 1.25rem;
  }

  &__controls {
    display: flex;
    gap: 0.5rem;
  }

  &__control {
    --dimension: 0.75rem;
    block-size: var(--dimension);
    border-radius: 50%;
    inline-size: var(--dimension);
  }

  &__inner {
    img {
      inline-size: 100%;
    }
  }
}
