@use 'sprucecss/scss/spruce' as *;

.cookie-consent {
  align-items: center;
  background-color: color('background');
  box-shadow: 0 0 1rem hsl(0deg 0% 0% / 5%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: spacer('s') spacer('m');
  inset: auto 0 0 0;
  justify-content: center;
  padding-block: spacer('m');
  padding-inline: get-css-variable(--container-gap);
  position: fixed;
  text-align: center;
  z-index: 25;

  &__caption {
    @include layout-stack('xs');
  }

  &__btns {
    display: flex;
    gap: spacer('s');
  }
}
