@use 'sprucecss/scss/spruce' as *;

@include generate-btn(
  '.pagination a',
  null,
  false,
  true
);

.pagination {
  @include clear-list;
  display: flex;
  flex-wrap: wrap;
  gap: spacer('s');
  justify-content: center;
  margin-block-start: calc(#{get-css-variable(--section-gap)} / 1.5);

  > * + * {
    margin-block-start: 0;
  }

  a {
    @include btn-variant('pagination');
    @include set-css-variable((
      --padding: 0.85em 1.15em
    ));
    font-size: config('font-size-sm', $typography);

    &[aria-current="page"] {
      background: color('pagination-background-hover', 'btn');
      border-color: color('pagination-background-hover', 'btn');
      color: color('pagination-foreground-hover', 'btn');
    }
  }
}
