@use 'sprucecss/scss/spruce' as *;

.testimonial-card {
  $this: &;

  @include transition;
  align-items: center;
  border: 1px solid color('border');
  border-radius: config('border-radius-lg', $display);
  display: flex;
  flex-wrap: wrap;
  gap: spacer-clamp('m', 'l');
  padding-block: spacer-clamp('s', 'm');
  padding-inline: spacer-clamp('m', 'l');

  &:hover,
  &:focus {
    background-color: color('border');

    #{$this}__title {
      color: hsl(0deg 0% 100%);
    }

    #{$this}__description {
      color: hsl(0deg 0% 100% / 75%);
    }
  }

  &__caption {
    @include layout-stack('s');
    max-inline-size: 60ch;
  }

  &__title {
    @include transition;
    font-size: font-size('h2');
  }

  &__description {
    @include transition;
  }

  &__illustration {
    max-block-size: 12rem;
    inline-size: auto;
  }

  &__number {
    color: color('secondary');
    font-family: config('font-family-cursive', $typography);
    font-size: font-size('h1');
    font-weight: 800;
  }
}
