@use 'sprucecss/scss/spruce' as *;

.testimonial-card {
  $this: &;

  @include a11y-card-link('.testimonial-card__link', true);
  @include transition;
  background-color: color('background');
  border: 1px solid color('border');
  border-radius: config('border-radius-lg', $display);
  display: flex;
  flex-direction: column;
  gap: spacer('m');
  padding: spacer-clamp('m', 'l');

  &:hover,
  &:focus {
    background-color: #def7ff;
    border-color: #def7ff;

    #{$this}__link,
    #{$this}__description {
      color: color('heading');
    }
  }

  &__caption {
    @include layout-stack('s');
    max-inline-size: 60ch;
  }

  &__title {
    @include transition;
    font-size: font-size('h2');
  }

  &__link {
    color: color('heading');
    text-decoration: none;
  }

  &__description {
    @include transition;
  }

  &__illustration {
    inline-size: auto;
    margin-inline: auto;
    max-inline-size: 12rem;
  }

  &__number {
    color: color('secondary');
    font-family: config('font-family-cursive', $typography);
    font-size: font-size('h1');
    font-weight: 800;
    line-height: 1;
    margin-block-start: auto;
  }
}
