@use 'dark-colors' as dark;

$color-secondary: hsl(326deg 100% 49%);

@use 'sprucecss/scss/spruce' with (
  $btn: (
    'border-radius': 2rem,
    'font-family': #{'Manrope', sans-serif},
    'font-weight': 600,
  ),
  $btn-lg: (
    'padding': 1em 1.75em,
  ),
  $color-black: hsl(0deg 0% 0%),
  $color-primary: hsl(216deg 100% 50%),
  $color-secondary: $color-secondary,
  $colors: (
    'btn': (
      'pagination-background': hsl(263deg 40% 96%),
      'pagination-background-hover': hsl(262deg 71% 49%),
      'pagination-focus-ring': hsl(262deg 71% 49%),
      'pagination-foreground': hsl(262deg 71% 49%),
      'pagination-foreground-hover': hsl(0deg 0% 100%),
    ),
    'header': (
      'background': hsl(0deg 0% 100% / 95%),
    ),
    'highlighted': (
      'background': hsl(0deg 0% 0%),
    ),
    'navigation': (
      'arrow': hsl(0deg 0% 0% / 15%),
    ),
    selection: (
      'background': $color-secondary,
    ),
    'prism': (
      'color': hsl(243deg 14% 29%),
      'background': hsl(0deg 0% 98%),
      'comment': hsl(225deg 14% 46%),
      'punctuation': hsl(279deg 50% 53%),
      'namespace': hsl(173deg 100% 24%),
      'deleted': hsl(1deg 83% 63% / 56%),
      'boolean': hsl(0deg 44% 53%),
      'number': hsl(315deg 90% 35%),
      'constant': hsl(221deg 57% 52%),
      'class-name': hsl(0deg 0% 7%),
      'regex': hsl(1deg 48% 59%),
    ),
    'reference': (
      'background': hsl(0deg 0% 0%),
      'box-shadow': hsl(0deg 0% 0% / 15%),
      'icon': hsl(0deg 0% 100% / 25%),
      'link': hsl(0deg 0% 100% / 80%),
      'title': hsl(0deg 0% 100%),
    ),
  ),
  $dark-colors: dark.$colors,
  $display: (
    'container': 88rem,
  ),
  $settings: (
    'prefix': 'cone'
  ),
  $typography: (
    'font-family-base': #{'Manrope', sans-serif},
    'font-family-cursive': #{'Space Mono', monospace},
    'font-family-heading': #{'Inter', sans-serif},
  ),
);
