@use 'dark-colors' as dark;

$color-black: hsl(0deg 0% 0%);
$color-primary: hsl(216deg 100% 50%);
$color-secondary: hsl(326deg 100% 49%);
$color-tertiary: hsl(169deg 100% 50%);

@use 'sprucecss/scss/spruce' with (
  $btn: (
    'border-radius': 2rem,
    'border-width': 1px,
    'font-family': #{'Manrope', sans-serif},
    'font-weight': 600,
    'icon-padding': 0.85em,
    'padding': 0.85em 1.75em,
  ),
  $btn-lg: (
    'padding': clamp(0.9em, 3vw, 1em) clamp(1.5em, 3vw, 1.75em),
  ),
  $color-black: $color-black,
  $color-primary: $color-primary,
  $color-secondary: $color-secondary,
  $colors: (
    'base': (
      'tertiary': $color-tertiary,
    ),
    'btn': (
      'primary-outline-foreground-hover': hsl(0deg 0% 100%),
      'secondary-background-hover': hsl(326deg 100% 47%),
      'pagination-background': hsl(264, 100%, 99%),
      'pagination-background-hover': $color-primary,
      'pagination-focus-ring': $color-primary,
      'pagination-foreground': $color-primary,
      'pagination-foreground-hover': hsl(0deg 0% 100%),
    ),
    'cta': (
      'background': $color-black,
    ),
    'form': (
      'border': $color-black,
    ),
    'header': (
      'background': hsl(0deg 0% 100% / 95%),
    ),
    'hero': (
      'gradient-start': hsl(238deg 100% 47%),
      'gradient-end': hsl(194deg 85% 56%),
    ),
    'highlighted': (
      'background': $color-black,
    ),
    'navigation': (
      'arrow': hsl(0deg 0% 0% / 15%),
    ),
    selection: (
      'background': $color-secondary,
    ),
    'prism': (
      'color': hsl(243deg 14% 29%),
      'background': hsl(0deg 0% 98%),
      'comment': hsl(225deg 14% 46%),
      'punctuation': hsl(279deg 50% 53%),
      'namespace': hsl(173deg 100% 24%),
      'deleted': hsl(1deg 83% 63% / 56%),
      'boolean': hsl(0deg 44% 53%),
      'number': hsl(315deg 90% 35%),
      'constant': hsl(221deg 57% 52%),
      'class-name': hsl(0deg 0% 7%),
      'regex': hsl(1deg 48% 59%),
    ),
    'reference': (
      'background': $color-black,
      'box-shadow': hsl(0deg 0% 0% / 15%),
      'icon': hsl(0deg 0% 100% / 25%),
      'link': hsl(0deg 0% 100% / 80%),
      'title': hsl(0deg 0% 100%),
    ),
    'testimonial': (
      'background-hover': hsl(195 100% 97%),
    ),
  ),
  $dark-colors: dark.$colors,
  $display: (
    'container': 88rem,
  ),
  $generators: (
    'content': (
      'accessibility': true,
      'default': true,
      'display': true,
      'divider': true,
      'layout': true,
      'media': true,
      'normalize': true,
      'print': true,
      'root': true,
      'table': true,
      'typography': true,
      'utilities': true,
    ),
    'form': (
      'btn': true,
      'file-btn': false,
      'form-check': true,
      'form-control': true,
      'form-description': false,
      'form-feedback': false,
      'form-fieldset': false,
      'form-group': true,
      'form-label': true,
      'form-range': false,
      'form-row': true,
      'form-switch': false,
    ),
  ),
  $settings: (
    'css-custom-properties': true,
    'hyphens': false,
    'prefix': 'cone',
  ),
  $typography: (
    'font-family-base': #{'Manrope', sans-serif},
    'font-family-heading': #{'Inter', sans-serif},
  ),
);
