@forward 'config';
@forward 'layout';
@forward 'component';
@forward 'section';
@forward 'extend';
@forward 'helper';

@use 'sprucecss/scss/spruce' as *;

:root {
  @include set-css-variable((
    --section-gap: spacer-clamp(5rem, 6rem, 10vw)
  ));

  @include breakpoint('md') {
    font-size: 1.0375rem;
  }

  @include breakpoint('lg') {
    font-size: 1.1375rem;
  }
}

strong {
  color: color('heading');
}
