@forward 'config';
@forward 'layout';
@forward 'component';
@forward 'section';
@forward 'helper';


@use 'sprucecss/scss/spruce' as *;

:root {
  @include set-css-variable((
    --section-gap: spacer-clamp('xl', 'xxl')
  ));
}

.section-title {
  display: flex;
  flex-direction: column;
  gap: spacer('s');
  margin-block: 0 spacer('m');
}
